@import "../../styles.scss";

.about-me-main {
  width: 100%;
  max-width: 1259px;
  padding-top: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.about-me-content {
  display: flex;
  max-width: 1259px;
  width: 100%;
  justify-content: space-between;
}

.about-me-paragraph {
  width: 612px;
  font-family: "overpass";
  font-size: 22px;
  padding-bottom: 36px;
  > p {
    margin: 0;
  }
}

.about-me-based {
  display: flex;
  font-family: "overpass";
  font-size: 22px;
  align-items: center;
  padding-bottom: 24px;
  > img {
    padding-right: 16px;
    width: 36.66666793823242px;
    height: 28.33px;
  }
  > p {
    margin: 0;
  }
}

.about-me-remote {
  display: flex;
  font-family: "overpass";
  font-size: 22px;
  align-items: center;
  padding-bottom: 24px;
  > img {
    padding-right: 16px;
    width: 36.66666793823242px;
    height: 28.33px;
  }
  > p {
    margin: 0;
  }
}

.about-me-btn-div {
  padding-top: 36px;
  display: flex;
  justify-content: center;
  > button {
    background-color: $backround_color;
    cursor: pointer;
    font-family: "overpass";
    font-size: 23px;
    width: 213px;
    height: 68px;
    outline: 4px solid black;
    border: none;
    transition: all 0.1s ease;
    &:hover {
        width: 260px;
        height: 70px;
        font-weight: bold;
      }
  }
}

h1 {
  font-family: "syne800";
  font-size: 78px;
  &:hover {
    color: $highlight_color;
  }
}

.personal-img {
  width: 533px;
}
.image-container {
    position: relative; 
    display: inline-block; 
  }
  
  .image-container img {
    display: block; 
  }
  
  .image-container::after {
    content: '';
    position: absolute;
    top: 16px; 
    left: 16px; 
    right: -16px; 
    bottom: -16px;
    border: 4px solid rgb(0, 0, 0); 
    opacity: 0; 
    transition: opacity 0.3s ease; 
    pointer-events: none; 
  }
  
  .image-container:hover::after {
    opacity: 1; 
  }

  .arrow-div{
    width: 100%;
    max-width: 1259px;
  }

  @media (max-width: 1450px) {
    .about-me-main{
      width:1000px
    }

    h1{
      font-size: 62px;
    }

    .about-me-paragraph{
      width: 489px;
    }

    .personal-img{
      width: 426px;
    }

    .image-container{
      width: 426px;
      height: 426px;
    }
  }

  @media (max-width: 1150px) {
    .about-me-main{
      width: 750px;
      padding-top: 0px;
    }

    h1{
      font-size: 46px;
    }

    .about-me-paragraph{
      width: 366px;
    }

    .personal-img{
      width: 319.5px;
    }

    .image-container{
      width: 319.5px;
      height: 319.5px;
    }
  }

  @media (max-width: 900px) {
    .about-me-main{
      width: 600px;
    }

    h1{
      font-size: 36px;
    }

    .about-me-paragraph{
      width: 292px;
      font-size: 16px;
    }

    .personal-img{
      width: 255.5px;
    }

    .image-container{
      width: 255.5px;
      height: 255.5px;
    }
  }
  
  @media (max-width: 650px) {
    .about-me-main{
      width: 320px;
      align-items: center;
    }
    .about-me-main {
      align-items: center;
    }
    
    .about-me-content {
      flex-direction: column;
      align-items: center;
    }
    
    .about-me-btn-div{
      margin-bottom: 24px;
    }
    
    .arrow-div{
      width: 100%;
      max-width: 320px;
      display: flex;
      justify-content: center;
    }

    h1{
      font-size: 26px;
    }

    .about-me-paragraph{
      width: 266px;
    }

    .about-me-content-left{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .about-me-based{
      font-size: 16px;
    }

    .about-me-remote{
      font-size: 16px;
    }
  }