<div class="about-me-main">
  <div>
    <h1 id="about-me">{{ content.header }}</h1>
  </div>
  <div class="about-me-content">
    <div class="about-me-content-left">
      <div class="about-me-paragraph">
        <p>{{ content.paragraph }}</p>
      </div>
      <div class="about-me-sub-content">
        <div class="about-me-based">
          <img src="./../../../assets/about-me-house.png" alt="" />
          <p>{{ content.basedIn }}</p>
        </div>
        <div class="about-me-remote">
          <img src="./../../../assets/about-me-laptop.png" alt="" />
          <p>{{ content.remote }}</p>
        </div>
      </div>
      <div class="about-me-btn-div">
        <button (click)="scrollToContact()">{{ content.button }}</button>
      </div>
    </div>
    <div class="image-container" #imageContainer>
      <img class="personal-img" src="./../../../assets/personalimg.png" alt="" />
    </div>
  </div>
  <div class="arrow-div">
    <app-arrow-section></app-arrow-section>
  </div>
</div>