<div class="atf-main">
    <div class="h1-div">
        <div class="caption-div">
            <h1>Frontend</h1>
            <h1>Developer</h1>
        </div>
        <div class="subcaption-div">
            <span></span>
            <h2>Niklas Lampe</h2>
        </div>
    </div>
    <div class="bottom-atf">
        <div class="atf-mail">
            <p>niklas.lampe00&#64;gmail.com</p>
        </div>
        <div class="atf-arrow">
            <img class="animated-arrow" [src]="currentImage" alt="">
            <p>Scroll <br> Down</p>
        </div>
    </div>
</div>

