header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fffcf3;
  width: 100%;
  z-index: 1000; /* Ensure it is always on top */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100px;
}

header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-button {
  padding-right: 80px;
}

.logo {
  height: 100px;
  padding-left: 80px;
}

.header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-language {
  display: flex;
  font-family: "syne";
  font-weight: 700;
  font-size: 18px;
  padding-right: 24px;
}

.header-language > p {
  padding-left: 4px;
  display: flex;
  height: 28px;
  width: 40px;
  align-items: center;
  justify-content: center;
}

.header-extended {
  position: fixed;
  top: 100px; /* Start below the header */
  left: 0;
  width: 100%;
  background-color: #fffcf3;
  z-index: 999; /* Below the default header */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px); /* Take up the rest of the viewport */
  overflow: hidden;
  transform: translateY(100%); /* Start fully out of view */
  opacity: 0; /* Start invisible */
  transition: transform 5s ease, opacity 5s ease; /* Smooth animation */
}

.header-extended.active {
  transform: translateY(0); /* Slide into view */
  opacity: 1; /* Become fully visible */
}

.extended-body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.extended-links {
  padding-top: 50px;
  width: 100%;
  max-width: 1259px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.extended-links > a {
  display: flex;
  width: 503px;
  height: 69px;
  color: black;
  text-decoration: none;
  font-family: Syne;
  font-weight: 700;
  font-size: 96px;
  padding: 49px 38.5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: relative;
  outline: none;
  transition: all 0.3s ease;
  margin-bottom: 35px;
}

.extended-links > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-left: 4px solid black;
  border-bottom: 4px solid black;
  transition: width 0.3s ease, height 0.3s ease, left 0.3s ease, top 0.3s ease;
}

.extended-links > a:hover::after {
  width: 40%;
  left: 60%;
  height: 4px;
  border-left: none;
  border-bottom: 4px solid black;
}

.extended-links > a:active::after {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 4px solid black;
}

h1 {
  font-family: "syne800";
  font-weight: 800;
  font-size: 78px;
  color: #fffcf3;
  padding: 0;
  margin: 0;
  text-align: center;
  &:hover {
    color: #00bc8f;
  }
}

p {
  color: #fffcf3;
  font-family: "Overpass";
  font-weight: 300;
  font-size: 23px;
}

.header-bottom {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bottom-content {
  padding-top: 40px;
  height: 200px;
  display: flex;
  width: 100%;
  padding-bottom: 40px;
  padding-left: 80px;
  padding-right: 80px;
  justify-content: space-between;
}

.header-black {
  width: 100%;
}

.gradient-div {
  background-color: black;
  clip-path: polygon(0 30%, 100% 100%, 0 100%);
  height: 310px;
  width: 100%;
}


.icon {
  cursor: pointer;
  display: inline-block;
  transition: transform 0.3s ease; 
  height: 40px;
}

.icon:hover {
  transform: translateY(-8px); 
}
.icons{
  width: 204px;
  display: flex;
  justify-content: space-between;
}

