<header>
  <div>
    <div>
      <a href=""><img (click)="scrollToTop()" class="logo" src="./../../../assets/logo2.png" alt="" /></a>
    </div>
    <div class="header-menu">
      <div class="header-language">
        <p
          [ngClass]="{ 'active-lang': currentLanguage === 'en' }"
          (click)="toggleLanguage('en')"
        >
          EN
        </p>
        <p
          [ngClass]="{ 'active-lang': currentLanguage === 'de' }"
          (click)="toggleLanguage('de')"
        >
          DE
        </p>
      </div>
      <div>
        <img
          class="header-button"
          [src]="currentHeaderImage"
          alt=""
          (click)="toggleHeader()"
        />
      </div>
    </div>
  </div>

  <div class="header-extended" [ngClass]="{ active: isHeaderExtended }">
    <div class="extended-body">
      <div class="extended-links">
        <div class="extended-links">
          <a
            (click)="closeHeader($event); navigateToSectionInMainContent('about-me')"
            [ngClass]="{ 'active-link': activeLink === 'about-me' }"
            data-link="about-me"
            >{{ translation.aboutMe }}</a
          >
          <a
            (click)="closeHeader($event); navigateToSectionInMainContent('skills')"
            [ngClass]="{ 'active-link': activeLink === 'skills' }"
            data-link="skills"
            >{{ translation.mySkills }}</a
          >
          <a
            (click)="closeHeader($event); navigateToSectionInMainContent('projects') "
            [ngClass]="{ 'active-link': activeLink === 'projects' }"
            data-link="projects"
            >{{ translation.portfolio }}</a
          >
        </div>
      </div>
      <div class="header-black">
        <div class="gradient-div"></div>
        <div class="header-bottom">
          <div class="bottom-content">
            <div>
              <h1          (click)="closeHeader($event); navigateToSectionInMainContent('contact')"
              [ngClass]="{ 'active-link': activeLink === 'contact' }"
              data-link="contact">{{ translation.sayHi }}</h1>
              <p>{{ translation.email }}</p>
            </div>
            <div class="icons">
              <img class="icon" src="./../../../assets/linkedin.png" alt="" />
              <img (click)="closeHeader($event); navigateToSectionInMainContent('contact')" class="icon" src="./../../../assets/mail.png" alt="" />
              <a href="https://github.com/NiklasLa46" target="_blank">
                <img class="icon" src="./../../../assets/github.png" alt="GitHub" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
