header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fffcf3;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header-bar{
  z-index: 1000;
  height: 100px;
}

header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-button {
  padding-right: 80px;
  &:hover {
    cursor: pointer;
  }
}

.logo {
  height: 100px;
  padding-left: 80px;
  &:hover {
    cursor: pointer;
  }
}

.header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-language {
  display: flex;
  font-family: "syne700";
  font-size: 18px;
  padding-right: 24px;
}

.header-language > p {
  display: flex;
  height: 28px;
  width: 40px;
  align-items: center;
  color: black;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  font-weight: bold;
  margin-right: 12px;
}

.active-lang {
  outline: 3px solid #00bc8f;
}

.header-language > p:not(.active-lang):hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 55%;
  height: 3px;
  background-color: black;
}

.header-extended {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: #fffcf3;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.header-extended.active {
  transform: translateY(0);
  opacity: 1;
}

.header-extended.closed {
  transform: translateY(100%);
  opacity: 0;
}

.extended-body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.extended-links {
  padding-top: 50px;
  width: 100%;
  max-width: 1259px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.extended-links > a {
  display: flex;
  width: 400px;
  height: 55px;
  font-size: 78px;
  padding: 40px 31.5px;
  color: black;
  text-decoration: none;
  font-family: Syne;
  font-weight: 700;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: relative;
  outline: none;
  transition: all 0.3s ease;
  margin-bottom: 35px;
}

.extended-links > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-left: 4px solid black;
  border-bottom: 4px solid black;
  transition: width 0.3s ease, height 0.3s ease, left 0.3s ease, top 0.3s ease;
}

.extended-links > a:hover::after {
  width: 40%;
  left: 60%;
  height: 4px;
  border-left: none;
  border-bottom: 4px solid black;
}

.extended-links > a:active::after {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 4px solid black;
}

h1 {
  font-family: "syne800";
  font-weight: 800;
  font-size: 68px;
  color: #fffcf3;
  padding: 0;
  margin: 0;
  text-align: center;
  &:hover {
    color: #00bc8f;
    cursor: pointer;
  }
}

p {
  color: #fffcf3;
  font-family: "Overpass";
  font-weight: 300;
  font-size: 23px;
  &:hover {
    cursor: pointer;
  }
}

.header-bottom {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bottom-content {
  padding-top: 40px;
  height: 200px;
  display: flex;
  width: 100%;
  padding-bottom: 80px;
  padding-left: 80px;
  padding-right: 80px;
  justify-content: space-between;
}

.header-black {
  width: 100%;
  bottom: 0;
}

.gradient-div {
  background-color: black;
  clip-path: polygon(0 30%, 100% 100%, 0 100%);
  height: 150px;
  width: 100%;
}

.icon {
  cursor: pointer;
  display: inline-block;
  transition: transform 0.3s ease;
  height: 40px;
}

.icon:hover {
  transform: translateY(-8px);
}

.visible {
  display: flex;
}

.icons {
  width: 204px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 850px) {
  .bottom-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 750px) {
  .logo {
    padding-left: 40px;
  }

  .header-button {
    padding-right: 40px;
  }

  h1 {
    font-size: 50px;
  }

  .bottom-content {
    flex-direction: column;
  }

  .bottom-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .icons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .icon {
    padding-left: 32px;
  }

  .extended-links > a{
    width: 400px;
    height: 55px;
    font-size: 78px;
    padding: 40px 31.5px;
  }

  .header-language {
    display: none;
    font-size: 14px;
    &.visible {
      display: flex;
    }
  }
}

@media (max-width: 500px) {
  .extended-links > a{
    width: 200px;
    height: 27.5px;
    font-size: 39px;
    padding: 20px 16.5px;
  }
}

@media (max-width: 450px) {
  .logo {
    padding-top: 10px;
    padding-left: 10px;
    height: 80px;
  }

  .header-button {
    padding-right: 10px;
  }

  .logo-link {
    padding-bottom: 0;
  }
}

@media (max-width: 400px) {
  .logo {
    padding-top: 10px;
    padding-left: 5px;
    height: 80px;
  }

  .header-button {
    padding-right: 5px;
  }

  .header-language {
    padding-right: 0px;
  }
}