<header>
  <div>
    <div>
      <img class="logo" src="./../../../assets/logo2.png" alt="" />
    </div>
    <div class="header-menu">
      <div class="header-language">
        <p>EN</p>
        <p>DE</p>
      </div>
      <div>
        <img
          class="header-button"
          src="./../../../assets/header-button/header0.png"
          alt=""
          (click)="toggleHeader()"
        />
      </div>
    </div>
  </div>

  <div
    *ngIf="isHeaderExtended"
    class="header-extended"
    [ngClass]="{ active: isHeaderExtended }"
  >
    <div class="extended-body">
      <div class="extended-links">
        <a href="#about-me">About me</a>
        <a href="#skills">My skills</a>
        <a href="#projects">Portfolio</a>
      </div>
      <div class="header-black">
        <div class="gradient-div"></div>
        <div class="header-bottom">
          <div class="bottom-content">
            <div>
              <h1>Say Hi!</h1>
              <p>niklas.lampe00&#64;gmail.com</p>
            </div>
            <div class="icons">
              <img class="icon" src="./../../../assets/linkedin.png" alt="" />
              <img class="icon" src="./../../../assets/mail.png" alt="" />
              <img class="icon" src="./../../../assets/github.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
