<div>
    <h1>Portfolio</h1>
    <h2>Explore a selection of my work here - Interact with <br>
      projects to see my skills in action
    </h2>
    <div class="project-body">
      <app-single-project 
        *ngFor="let project of projects; let i = index" 
        [projectNumber]="project.number" 
        [projectTitle]="project.title" 
        [projectTech]="project.tech" 
        [projectDescription]="project.description" 
        [projectImage]="project.image" 
        [projectArrow]="project.arrow" 
        [projectIndex]="i">
      </app-single-project>
    </div>
  </div>
  