@import "./../../styles.scss";
.contact-form {
  background-color: black;
  width: 100%;
  color: #fffcf3;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  > p {
    padding: 0;
    margin: 0;
    padding-bottom: 12px;
  }
}

.success-message {
  color: $highlight_color;
  font-size: 12px;
  margin-top: 5px;
  > p {
    padding: 0;
    margin: 0;
    padding-bottom: 12px;
  }
}

h1 {
  font-family: "syne800";
  font-size: 78px;
  position: relative;
  z-index: 1;
  &:hover {
    color: $highlight_color;
  }
}

.h1-div {
  display: flex;
  align-items: start;
  max-width: 1259px;
}

h2 {
  font-family: Overpass;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  color: $highlight_color;
  padding: 0;
  margin: 0;
  padding-bottom: 18px;
}

h3 {
  font-family: Overpass;
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  padding: 0;
  margin: 0;
}

input[type="text"],
input[type="email"],
textarea {
  cursor: pointer;
  background-color: black;
  color: #fffcf3;
  font-family: "overpass";
  font-size: 16px;
  font-weight: 400;
  border-bottom: 2px #fffcf3 solid !important;
  width: 100%;
  border: none;
  margin-bottom: 20px;
  padding: 15px 25px;
  gap: 10px;
  outline: none;
  &::placeholder {
    color: $backround_color;
  }
  &:hover {
    outline: 2px white solid;
  }
  &:focus {
    outline: 2px white solid;
  }
}

textarea {
  height: 202px;
}

button {
  background-color: black;
  color: #fffcf3;
  cursor: pointer;
  font-family: "overpass";
  font-size: 23px;
  width: 213px;
  height: 68px;
  outline: 4px solid #fffcf3;
  border: none;
  transition: all 0.1s ease;
  margin-left: 25px;
}

button:disabled {
  background-color: black;
  color: gray;
  outline: 4px solid gray;
  border: none;
  cursor: not-allowed;
  pointer-events: none;
  transition: none;
}

button:hover {
  &:hover {
    width: 260px;
    height: 70px;
    font-weight: bold;
  }
}

button:disabled:hover {
  background-color: black;
  color: gray;
  outline: 4px solid gray;
  cursor: not-allowed;
}

.input-div {
  width: 617px;
  padding-top: 22px;
}

.check-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

a {
  text-decoration: none;
  color: $highlight_color;
  font-family: Overpass;
  font-weight: 400;
  font-size: 14px;
  transition: transform 0.3s ease;
}

a:hover {
  font-weight: 700;
  color: $highlight_color;
}

input[type="checkbox"] {
  background-color: black;
  border: 2px solid #fffcf3;
}

input[type="checkbox"]:hover {
  background-color: $highlight_color;
}

input[type="checkbox"]:checked:hover {
  background-color: $highlight_color;
}

.check-div:hover input[type="checkbox"] {
  background-color: $highlight_color;
}

.check-div:hover a {
  font-weight: 700;
  color: $highlight_color;
  transform: scale(1.4);
}

p {
  font-family: Overpass;
  font-weight: 400;
  font-size: 14px;
}

input[type="checkbox"] {
  background-color: black;
  border: 2px solid #fffcf3;
  width: 18px;
  height: 18px;
  appearance: none;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  z-index: 999;
}

input[type="checkbox"]:hover {
  background-color: $highlight_color;
}

input[type="checkbox"]:checked {
  background-color: black;
  border: 2px solid #fffcf3;
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 4px;
  width: 4px;
  height: 10px;
  border: solid #fffcf3;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

div {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.gradient-div {
  background-color: black;
  clip-path: polygon(0 30%, 100% 100%, 0 100%);
  height: 310px;
  position: relative;
  z-index: 1;
}

.arrow-sec {
  width: 100%;
}

.bottom-div {
  max-width: 1259px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.button-container {
  height: 75px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.scroll-up-img {
  cursor: pointer;
  width: 50px;
  height: auto;
  transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease;
  margin-left: auto;
}

.scroll-up-img:hover {
  content: url("./../../assets/scroll-up-arrow/scroll-up-arrow-hov.png");
}

@media (max-width: 1350px) {
  h1{
    padding-left: 24px;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 58px;
    padding-left: 16px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 18px;
  }
}

@media (max-width: 700px) {
  .gradient-div {
    height: 200px;
  }

  .h1-div,
  .subcaptions-div {
    width: 482px;
  }

  input[type="text"],
  input[type="email"],
  textarea, .input-div {
    width: 462.75px;
  }
}

@media (max-width: 550px) {
  .gradient-div {
    height: 100px;
  }

  .h1-div,
  .subcaptions-div {
    width: 367px;
  }

  input[type="text"],
  input[type="email"],
  textarea, .input-div {
    width: 347px;
  }

  p {
    max-width: 315px;
  }

  .scroll-up-img{
    display: none;
  }

  button{
    margin-left: 0px;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 48px;
    padding-left: 10px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 16px;
  }

  .h1-div,
  .subcaptions-div,
  input[type="text"],
  input[type="email"],
  textarea,.input-div {
    width: 280px;
  }

  p{
    max-width: 250px;
  }

  input[type="checkbox"]{
    margin-right: 8px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    padding: 10px 20px;
  }

  .scroll-up-img{
    display: none;
  }
}

@media (max-width: 350px){
  input[type="text"],
  input[type="email"],
  textarea,.input-div {
    width: 250px;
  }

  p{
    max-width: 220px;
  }

  input[type="checkbox"]{
    margin-right: 8px;
  }
}

