@media (max-width: 1350px) {
    h1{
      padding-left: 24px;
    }
  }
  
  @media (max-width: 800px) {
    h1 {
      font-size: 58px;
      padding-left: 16px;
    }
  
    h2 {
      font-size: 28px;
    }
  
    h3 {
      font-size: 18px;
    }
  }
  
  @media (max-width: 700px) {
    .gradient-div {
      height: 200px;
    }
  
    .h1-div,
    .subcaptions-div {
      width: 482px;
    }
  
    input[type="text"],
    input[type="email"],
    textarea, .input-div {
      width: 462.75px;
    }

    .success-message{
      max-width: 420px;
    }
  
    p{
      max-width: 420px;
    }
  }
  
  @media (max-width: 550px) {
    .gradient-div {
      height: 100px;
    }
  
    .h1-div,
    .subcaptions-div {
      width: 367px;
    }
  
    input[type="text"],
    input[type="email"],
    textarea, .input-div {
      width: 347px;
    }

    .success-message{
      max-width: 300px;
    }
  
    p {
      max-width: 315px;
    }
  
    .scroll-up-img{
      display: none;
    }
  
    button{
      margin-left: 0px;
    }
  }
  
  @media (max-width: 450px) {
    h1 {
      font-size: 48px;
      padding-left: 10px;
    }
  
    h2 {
      font-size: 22px;
    }
  
    h3 {
      font-size: 16px;
    }
  
    .h1-div,
    .subcaptions-div,
    input[type="text"],
    input[type="email"],
    textarea,.input-div {
      width: 280px;
    }

    .success-message{
      max-width: 240px;
    }
  
    p{
      max-width: 250px;
    }
  
    input[type="checkbox"]{
      margin-right: 8px;
    }
  
    input[type="text"],
    input[type="email"],
    textarea {
      padding: 10px 20px;
    }
  
    .scroll-up-img{
      display: none;
    }
  }
  
  @media (max-width: 350px){
    input[type="text"],
    input[type="email"],
    textarea,.input-div {
      width: 250px;
    }

    .success-message{
      max-width: 200px;
    }
  
    p{
      max-width: 220px;
    }
  
    input[type="checkbox"]{
      margin-right: 8px;
    }
  }
  