<div class="arrow-div" id="contact">
  <app-arrow-section class="arrow-sec"></app-arrow-section>
</div>
<div class="gradient-div">
</div>

<form #contactForm="ngForm" id="contact" (ngSubmit)="onSubmit(contactForm)" class="contact-form">
  <div class="h1-div">
    <h1>{{ h1Text }}</h1>
  </div>
  <div>
    <div>
      <h2>{{ h2Text }}</h2>
      <h3>{{ h3Text }}</h3>
    </div>
    <div class="input-div">
      <input 
        placeholder="{{ placeholders.name }}" 
        type="text" 
        name="name" 
        ngModel
        required />
      <input 
        placeholder="{{ placeholders.email }}" 
        type="email" 
        name="email" 
        ngModel
        #email="ngModel" 
        required 
        email />
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
        <p *ngIf="email.errors?.['required']">{{ errorMessages.required }}</p>
        <p *ngIf="email.errors?.['email']">{{ errorMessages.email }}</p>
      </div>
      <textarea 
        placeholder="{{ placeholders.message }}" 
        name="message" 
        ngModel
        required></textarea>

      <div class="check-div">
        <input 
          class="checkbox" 
          type="checkbox" 
          name="acceptTerms"
          ngModel
          required />
          <p>
            {{ privacyTextParts.one }}
            <a [href]="getImprintUrl()" target="_blank" rel="noopener noreferrer">{{ privacyTextParts.policy }}</a>
            {{ privacyTextParts.two }}
          </p>
      </div>
    </div>
    <div class="bottom-div">
      <div class="button-container">
        <button type="submit" [disabled]="!contactForm.valid">{{ buttonText }}</button>
      </div>
      <img (click)="scrollToTop()" class="scroll-up-img" src="./../../assets/scroll-up-arrow/scroll-up-arrow-def.png" alt="Scroll Up Arrow">
    </div>
  </div>
</form>

  