<div class="arrow-div">
    <app-arrow-section class="arrow-sec"></app-arrow-section>
</div>
<div class="gradient-div">

</div>
<div class="contact-main">
  <div class="h1-div">
    <h1>Say Hi!</h1>
  </div>
  <div>
    <div>
      <h2>Want to discuss a new project?</h2>
      <h3>Say hello! let's discuss your ideas and make it happen</h3>
    </div>
    <div class="input-div">
      <input placeholder="Your name" type="text" />
      <input placeholder="Your email" type="text" />
      <textarea placeholder="Your message" name="" id=""></textarea>
      <div class="check-div"><input class="checkbox" type="checkbox"><p>I've read the <a href="">privacy policy</a> and agree to the processing of my data outlined.</p></div>
      
      <button>Send message</button>
    </div>
  </div>
  <div><img src="" alt=""></div>
</div>
