@import "./../../styles.scss";

h1 {
  font-family: "syne800";
  font-size: 78px;
  padding: 0;
  margin: 0;
  background-color: $backround_color;
  position: relative;
  z-index: 1;
  &:hover {
    color: $highlight_color;
  }
}

.skills-content {
  height: 633px;
  display: flex;
  width: 100%;
  max-width: 1259px;
  flex-direction: column;
  align-items: center;
  outline: 4px black solid;
  justify-content: space-evenly;
  position: relative;
  top: -40px;
}

.skills-main {
  width: 100%;
  max-width: 1259px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.skills-icons {
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0;
  height: 633px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1259px;
  justify-content: space-evenly;
}

.skills-row-one,
.skills-row-two {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1259px;
  text-align: center;
  flex-wrap: wrap;
}

p {
  font-family: "overpass700";
}

.skill-learn {
  display: flex;
  align-items: center;
  justify-content: center;
  > p {
    padding-left: 16px;
    font-family: "overpass";
    font-size: 22px;
    a {
      position: relative;
      text-decoration: none;
      color: $highlight_color;
      &:hover {
        font-weight: bold;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: $highlight_color;
        transition: width 0.3s ease, transform 0.3s ease;
        transform-origin: left;
      }

      &:hover::after {
        width: 100%;
      }

      &:hover {
        &::after {
          width: 45%;
          transform: translateX(120%);
        }
      }
    }
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

.single-skill:hover {
  color: $highlight_color;
}

.single-skill {
  position: relative;
}

.skill-icon {
  position: relative;
  transition: transform 0.25s ease;
}

.skill-learn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.learn-icon {
  position: relative;
  transition: transform 0.25s ease;
}

.single-skill:hover .skill-icon,
.single-skill:hover .learn-icon{
  animation: circular-back-and-forth 0.25s ease-in-out;
}

@keyframes circular-back-and-forth {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(50%, 0) scale(0.8);
  }
  50% {
    transform: translate(0) scale(0.7);
  }
  75% {
    transform: translate(-50%, 0) scale(0.8);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.arrow-div {
  width: 100%;
  max-width: 1259px;
  display: flex;
  justify-content: flex-end;
  transform: scaleX(-1);
}

.arrow-sec {
  width: 100%;
}

.skills-arrow-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1350px) {
  .skills-main {
    max-width: 1059px;
  }
  .skill-learn{
    >p{
      max-width: 859px;
    }
  }
}

@media (max-width: 1150px) {
  .skills-main {
    width: 100%;
    max-width: 859px;
  }
  .skill-learn{
    >p{
      max-width: 659px;
    }
  }
}

@media (max-width: 950px) {
  .skills-main {
    width: 100%;
    max-width: 659px;
  }

  .skill-learn {
    > p {
      max-width: 500px;
    }
  }
}

@media (max-width: 750px) {
  .skills-main {
    width: 100%;
    max-width: 459px;
  }

  .skill-learn {
    > p {
      max-width: 300px;
    }
  }

  h1 {
    font-size: 58px;
    padding-bottom: 10px;
  }

  .skills-row-one,
  .skills-row-two {
    max-width: 400px;
  }

  .single-skill {
    padding-left: 20px;
    padding-right: 20px;
  }

  .skills-icons {
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .skills-content {
    height: auto;
  }
}

@media (max-width: 660px) {
  .arrow-div {
    width: 100%;
    max-width: 320px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .skills-main {
    width: 100%;
    max-width: 359px;
  }

  .skill-learn {
    > p {
      max-width: 200px;
      font-size: 18px;
    }
    > img {
      height: 56px;
      width: 52px;
    }
  }

  h1 {
    font-size: 50px;
    padding-bottom: 10px;
  }

  .skills-row-one,
  .skills-row-two {
    max-width: 300px;
  }

  .single-skill {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 90px;
    > img {
      height: 55px;
      width: 52px;
    }

  }

  .skills-icons {
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .skills-content {
    height: auto;
  }
}

@media (max-width: 450px) {
  .skills-main {
    width: 100%;
    max-width: 290px;
  }

  .skill-learn {
    > p {
      max-width: 200px;
    }
    > img {
      height: 56px;
      width: 52px;
    }
  }

  h1 {
    font-size: 40px;
    padding-bottom: 20px;
  }

  .skills-row-one,
  .skills-row-two {
    max-width: 300px;
  }

  .single-skill {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 90px;
    > img {
      height: 55px;
      width: 52px;
    }
  }

  .skills-icons {
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .skills-content {
    height: auto;
  }
}
