<div class="skills-arrow-div">
<div class="skills-main">
  <h1>My Skills</h1>
  <div class="skills-content">
    <div class="skills-icons">
      <div class="skills-row-one">
        <div class="single-skill">
          <img class="skill-icon" src="./../../assets/skills/html.png" alt="" />
          <p>HTML</p>
        </div>
        <div class="single-skill">
          <img class="skill-icon" src="./../../assets/skills/css.png" alt="" />
          <p>CSS</p>
        </div>
        <div class="single-skill">
          <img class="skill-icon" src="./../../assets/skills/js.png" alt="" />
          <p>JavaScript</p>
        </div>
        <div class="single-skill">
          <img
            class="skill-icon"
            src="./../../assets/skills/angular.png"
            alt=""
          />
          <p>Angular</p>
        </div>
        <div class="single-skill">
          <img class="skill-icon" src="./../../assets/skills/ts.png" alt="" />
          <p>TypeScript</p>
        </div>
      </div>
      <div class="skills-row-two">
        <div class="single-skill">
          <img
            class="skill-icon"
            src="./../../assets/skills/firebase.png"
            alt=""
          />
          <p>Firebase</p>
        </div>
        <div class="single-skill">
          <img class="skill-icon" src="./../../assets/skills/git.png" alt="" />
          <p>Git</p>
        </div>
        <div class="single-skill">
          <img
            class="skill-icon"
            src="./../../assets/skills/scrum.png"
            alt=""
          />
          <p>Scrum</p>
        </div>
        <div class="single-skill">
          <img class="skill-icon" src="./../../assets/skills/api.png" alt="" />
          <p>Rest Api</p>
        </div>
        <div class="single-skill">
          <img
            class="skill-icon"
            src="./../../assets/skills/materiald.png"
            alt=""
          />
          <p>
            Material <br />
            Design
          </p>
        </div>
      </div>
      <div class="skill-learn">
        <img class="learn-icon" src="./../../assets/skills/learning.png" alt="" />
        <p>Don't see the skill you need? <a href="">Contact me</a> I'm always ready to learn!</p>
      </div>
    </div>
  </div>
</div>
<div class="arrow-div">
  <app-arrow-section class="arrow-sec"></app-arrow-section>
</div>
</div>
