<div class="imprint-main">
    <div id='generator_results'>
        <div class="imprint-text" id='generator_results_content'>
            <h1>{{ imprintContent.title }}</h1>
            <h2>{{ imprintContent.responsible }}</h2>
            <p class='generator_user_input'>{{ imprintContent.name }}</p>
            <h3>{{ imprintContent.postal }}</h3>
            <p class='generator_user_input' [innerHTML]="imprintContent.address"></p>
            <h3>{{ imprintContent.contact }}</h3>
            <p>{{ imprintContent.email }}</p>
            <p>{{ imprintContent.phone }}</p>
            <h2>{{ imprintContent.websiteNotes }}</h2>
            <h3>{{ imprintContent.copyrightNotes }}</h3>
            <p class='generator_user_input'>{{ imprintContent.copyrightText }}</p>
            <p><em [innerHTML]="imprintContent.generatorNote"></em></p>
        </div>
    </div>
</div>

