.about-me-main {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

h1{
    font-family: 'syne800';
    font-size: 78px;
}