<div class="about-me-main">
  <div>
    <h1>About me</h1>
  </div>
  <div>
    <div>
      <div>
        <p>
          I’m an aspiring Front-End Developer with a passion for creating
          responsive, user-friendly, and visually appealing websites. I enjoy
          collaborating with teams to turn ideas into interactive, functional
          products using modern tools and technologies. If you think I could be
          of help for your projects, contact me!
        </p>
      </div>
      <div>
        <div>
          <img src="./../../../assets/about-me-house.png" alt="" />
          <p>Based in Berlin</p>
        </div>
        <div>
          <img src="./../../../assets/about-me-laptop.png" alt="" />
          <p>Open to work Remote</p>
        </div>
      </div>
      <div>
        <button>Let`s Talk</button>
      </div>
    </div>
    <div>
      <img src="" alt="" />
    </div>
  </div>
</div>
