.privacy-main{
    width: 100%;
    max-width: 1259px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FFFCF3;
    font-family: 'overpass';
}

h1, h2, h3{
    font-family: 'syne800';
}