<div class="privacy-main">
    <div id='generator_results'>
        <div class="privacy-text" id='generator_results_content'>
            <h1>{{ privacyContent.title }}</h1>
            <h2>{{ privacyContent.responsible }}</h2>
            <p>{{ privacyContent.responsibleText }}</p>
            <p class='generator_user_input'>
                {{ privacyContent.name }}<br />
                {{ privacyContent.address }}<br />
                {{ privacyContent.email }}
            </p>
            
            <h2>{{ privacyContent.rightsTitle }}</h2>
            <p>{{ privacyContent.rightsText }}</p>
            <ul>
                <li>{{ privacyContent.rightsList[0] }}</li>
                <li>{{ privacyContent.rightsList[1] }}</li>
                <li>{{ privacyContent.rightsList[2] }}</li>
                <li>{{ privacyContent.rightsList[3] }}</li>
                <li>{{ privacyContent.rightsList[4] }}</li>
                <li>{{ privacyContent.rightsList[5] }}</li>
            </ul>
            <p>{{ privacyContent.rightsNote }}</p>
            <p>{{ privacyContent.rightsComplaint }}</p>
            <p>{{ privacyContent.rightsAuthorities }} <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>.</p>

            <h2>{{ privacyContent.processingTitle }}</h2>
            <h3>{{ privacyContent.contactTitle }}</h3>
            <p>{{ privacyContent.processingType }}</p>
            <p>{{ privacyContent.processingText }}</p>
            <p>{{ privacyContent.processingStoredData }}</p>
            <ul>
                <li>{{ privacyContent.processingStoredList[0] }}</li>
            </ul>
            <p>{{ privacyContent.emailProcessing }}</p>
            <p>{{ privacyContent.communicationPurpose }}</p>

            <h4>{{ privacyContent.legalBasisTitle }}</h4>
            <p>{{ privacyContent.legalBasisText }}</p>
            <p>{{ privacyContent.legalBasisReason }}</p>
            <p>{{ privacyContent.contractBasis }}</p>

            <h4>{{ privacyContent.recipientsTitle }}</h4>
            <p>{{ privacyContent.recipientsText }}</p>

            <h4>{{ privacyContent.storageDurationTitle }}</h4>
            <p>{{ privacyContent.storageDurationText }}</p>
            <p>{{ privacyContent.legalRetentionText }}</p>

            <h4>{{ privacyContent.provisionTitle }}</h4>
            <p>{{ privacyContent.provisionText }}</p>

            <h4>{{ privacyContent.objectionTitle }}</h4>
            <p>{{ privacyContent.objectionText }}</p>

            <h2>{{ privacyContent.objectionRightTitle }}</h2>
            <h3>{{ privacyContent.objectionRightSubTitle }}</h3>
            <p>{{ privacyContent.objectionRightText }}</p>
            <p>{{ privacyContent.objectionRightConsequence }}</p>

            <h3>{{ privacyContent.objectionRecipientTitle }}</h3>
            <p class='generator_user_input'>
                {{ privacyContent.objectionRecipientText }} <br>
                {{ privacyContent.objectionRecipientTextTwo }}
            </p>

            <h2>{{ privacyContent.changesTitle }}</h2>
            <p>{{ privacyContent.changesText }}</p>

            <h2>{{ privacyContent.questionsTitle }}</h2>
            <p>{{ privacyContent.questionsText }}</p>

            <h2>{{ privacyContent.copyrightNoticeTitle }}</h2>
            <p><em>{{ privacyContent.copyrightNoticeText }} <a href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/" target="_blank" rel="noopener dofollow">{{ privacyContent.externalDataProtection }}</a> (Version #2024-10-25).</em></p>
        </div>
    </div>
</div>


