<footer>
    <div>
      <div class="left-logos">
        <a href=""><img class="logo" src="./../../../assets/logowhite.png" alt=""></a>
        <p>© Niklas Lampe 2025</p>
      </div>
      <div class="right-logos">
        <div class="icons">
          <a href="https://github.com/NiklasLa46" target="_blank">
            <img class="icon" src="./../../../assets/github.png" alt="GitHub" />
          </a>          
          <img class="icon" src="./../../../assets/linkedin.png" alt="">
          <img class="icon" src="./../../../assets/mail.png" alt="">
        </div>
        <a class="imprint" [href]="getImprintUrl()" target="_blank" rel="noopener noreferrer">{{ imprintText }}</a>
      </div>
    </div>
  </footer>
  