<div class="atf-main">
    <div class="h1-div">
        <div class="caption-div">
            <h1>Frontend</h1>
            <h1>{{ role }}</h1> 
        </div>
        <div class="subcaption-div">
            <span></span>
            <h2>Niklas Lampe</h2>
        </div>
    </div>
    <div class="bottom-atf">
        <div class="atf-mail">
            <p><a (click)="scrollToContact()">niklas.lampe00&#64;gmail.com</a></p>
        </div>
        <div class="atf-arrow">
            <img class="animated-arrow" [src]="currentImage" alt="">
            <p>{{ scrollText }}</p>
        </div>
    </div>
</div>

